.grid-container {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    height: 1em;
    scale: 1;
    transform: rotate(var(--rotation, 0deg));
    transition: transform 250ms ease;
}