header {
    border-bottom: 1px solid; 
}

#nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    padding: 1em;   

    max-width: 1200px;
    margin: 0 auto;
}

#links {
    display: inline-flex;
    gap: 1em;
    align-items: center;
}

/* hovering */
header a, header a:hover {
    color: currentColor;
}

@media (hover: hover) { /* only hover on devices that support it */
    header a:hover {
        text-decoration: underline; /* Underline on hover */
        text-decoration-thickness: 1px; /* Adjust thickness if needed */
    }
}

/* cute animation */

header a:hover .grid-item {
    will-change: filter; /* webkit nonsense */
    filter: drop-shadow(0 0 0.5rem currentColor);
}
