header {
    border-bottom: 1px solid; 
}

#nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    padding: 1em;   

    max-width: 1200px;
    margin: 0 auto;
}

#links {
    display: inline-flex;
    gap: 1.5em;
    align-items: center;
}
#links * {
    /* transition: transform 250ms ease-in-out; */
    /* transition: filter 250ms ease; */
    transition: font-weight 250ms ease;
}
#links .active {
    /* transform: translateY(0.5em); */
    /* filter: drop-shadow(0 0 0.45em currentColor) */
    font-weight: bolder;
}


/* hovering */
header a, header a:hover {
    color: currentColor;
}

@media (hover: hover) { /* only hover on devices that support it */
    header a:not(.active):hover {
        text-decoration: underline; /* Underline on hover */
        text-decoration-thickness: 1px; /* Adjust thickness if needed */
    }
}

/* glow logo when hovered if not already on homepage */
.nav-logo:not(.active) .logotype-icon {
    transition: filter 250ms ease;
    will-change: filter; /* webkit nonsense */

}
.nav-logo:not(.active):hover .logotype-icon{
    filter: drop-shadow(0 0 0.45em currentColor);
}
