#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;
    border-bottom: 1px solid;    
    flex-wrap: wrap;
}

#links {
    display: inline-flex;
    gap: 1em;
    align-items: center;
}
a, a:hover {
    color: currentColor;
}
a:hover {
    text-decoration: underline;
}

a:hover .grid-item {
    transform: rotate(calc(180deg + var(--currentRotation, 0deg)));
}
