#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;
    border-bottom: 1px solid;    
    flex-wrap: wrap;
}

#links {
    display: inline-flex;
    gap: 1em;
    align-items: center;
}
a {
    color: currentColor;
}
a:hover {
    color: var(--background-color);
    background-color: var(--color);
    transition: color, background-color 0.1s linear;


}
