.logotype-container {
    display: flex;
    align-items: center;
    gap: 1em;
}
.logotype-text {
    font-family: "Instrument Serif", serif;
    font-weight: 100;
    font-style: italic;
    font-size: 1.7em;
    line-height: 1em;
    margin: 0;
}

.logo {
    height: 2em;
}

