footer {
    /* border-top: 1px solid;  */
    margin-top: auto;
}

#bottomnav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    padding: 1em;   

    max-width: 1200px;
    margin: 0 auto;
}


#copyright {
    display: inline-flex;
    align-items: end;
    gap: 0.5em;
}
#copyright .icon-quarter {
    height: 1.3em;
    transform: rotate(180deg);
}
#copyright p {
    height: 1em;
    line-height: 1em;
    margin: 0;
}


/* hovering */
footer a, footer a:hover {
    color: currentColor;
}

@media (hover: hover) { /* only hover on devices that support it */
    footer a:hover {
        text-decoration: underline; /* Underline on hover */
        text-decoration-thickness: 1px; /* Adjust thickness if needed */
    }
}
