footer {
    /* border-top: 1px solid;  */
    margin-top: auto;
}

#bottomnav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1em;
    height: 2em;
    padding: 1em;

    max-width: 1200px;
    margin: 0 auto;
}


#copyright {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
}
#copyright .icon-quart {
    height: 1em;
    transition: transform var(--quart-rotate-speed) ease, filter var(--quart-rotate-speed) ease;
}
#copyright p {
    height: 1em;
    line-height: 1em;
    margin: 0;
}


/* hovering */
#bottomnav a, #bottomnav a:hover {
    color: currentColor;
}

@media (hover: hover) { /* only hover on devices that support it */
    #bottomnav a:hover {
        text-decoration: underline; /* Underline on hover */
        text-decoration-thickness: 1px; /* Adjust thickness if needed */
    }
}
