:root {
  --content-width: 40em;
  --page-width: calc(var(--content-width) * 2);
  --slide-in-duration: 250ms;
  --quart-rotate-speed: 250ms;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout header {
  position: sticky;
  top: 0;
  z-index: 1;
}

main {
  flex: 1 0 auto;
  padding: 1rem 0;
}

.layout header {
  transition: opacity var(--slide-in-duration) ease, transform var(--slide-in-duration) ease;
  /* Add transition for header */
}

.fullscreen-mode header {
  transform: translateY(-100%);
  /* Slide header up */
  opacity: 0;
}


/* turn the bottom logo into a backwards navigation arrow */
/* prerotate for a clean animation */
.fullscreen-mode #bottomnav .icon-quart {
  transform: rotate(-90deg); 
}
/* use .in-view class to trigger animation */
.fullscreen-mode #copyright.in-view .icon-quart {
  transform: rotate(-135deg);
}
/* glow on hover */
.fullscreen-mode #copyright:hover .icon-quart {
  filter: drop-shadow(0 0 6px currentColor);
  
}

/* make standard pages slide in */
.slide-in,
.doc-content {
  opacity: 0;
  transform: translateY(1em);
  animation: slide-in var(--slide-in-duration) ease forwards;
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.doc-content {
  max-width: var(--content-width);
  margin: auto;
  padding: 1rem 2rem;
  text-align: left;
}

img {
  display: block;
  margin: auto;
  border-radius: .5rem;
  max-width: 100%;
  max-height: 75vh;
  height: auto;
}


.pricing-grid {
  margin: 0 auto;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--content-width) / 2.5), 1fr));
  gap: 1rem;
  max-width: var(--page-width);
}