
#content {
  max-width: 500px;
  margin: auto;
  padding: 2rem;
  text-align: left;
  opacity: 0;
  transform: translateY(20px);
  animation: slide-in 0.5s ease forwards;
}

@keyframes slide-in {
  to { opacity: 1; transform: translateY(0); }
}

img {
  display: block;
  margin: auto;
  border-radius: .5rem;
  max-width: 100%;
  max-height: 75vh;
  height: auto;
}